/* I learned CSS ! Here is 2/3 part of Flag : ct0r_g4dget_9dd3b33c */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#IlearnedCSSHereis23partofFlag.ct0r_g4dget_9dd3b33c{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}